<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_454_423)">
              <path d="M-0.0786133 3.05371H12.2965L26.1483 25.1597L20.1013 35L-0.0786133 3.05371Z" fill="url(#paint0_linear_454_423)"/>
              <path d="M39.9998 3.00035L27.7652 22.8725L15.1787 3L39.9998 3.00035Z" fill="url(#paint1_linear_454_423)"/>
            </g>
            <defs>
              <linearGradient id="paint0_linear_454_423" x1="-0.0786133" y1="19.0268" x2="26.1483" y2="19.0268" gradientUnits="userSpaceOnUse">
                <stop stop-color="#ED6A5A"/>
                <stop offset="1" stop-color="#ED6A5A"/>
              </linearGradient>
              <linearGradient id="paint1_linear_454_423" x1="24.4866" y1="-2.29627" x2="36.1069" y2="18.1259" gradientUnits="userSpaceOnUse">
                <stop stop-color="#ED6A5A"/>
                <stop offset="1" stop-color="#ED6A5A"/>
              </linearGradient>
              <clipPath id="clip0_454_423">
                <rect width="40" height="40" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <span>Grandhotel</span>
        </a>
      </div>

      <nav class="navigation" [class.active]="isMenuOpen">
        <ul class="nav-list">
          <li *ngFor="let item of navItems">
            <a [routerLink]="item.route" routerLinkActive="active">{{ item.label }}</a>
          </li>
        </ul>
      </nav>

      <div class="user-section">
        <div class="user-menu-container">
          <button class="user-button" (click)="toggleUserMenu()" aria-label="Меню пользователя">
            <img class="user-avatar" *ngIf="user" src="{{ environment.apiUrl + '/user/image/' + user.image }}" alt="">
            <span class="user-name" *ngIf="user; else guest">
              {{ user.firstname + ' ' + user.lastname }}
            </span>
            <ng-template #guest>
              <span class="user-name">Гость</span>
            </ng-template>
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" [class.rotate]="isUserMenuOpen">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>

          <div class="user-dropdown" *ngIf="isUserMenuOpen && user">
            <ul>
              <li><a routerLink="/profile">Профиль</a></li>
              <li (click)="logout()"><a routerLink="/login">Выйти</a></li>
            </ul>
          </div>

          <div class="user-dropdown" *ngIf="isUserMenuOpen && !user">
            <ul>
              <li><a routerLink="/login">Войти</a></li>
            </ul>
          </div>

          <button class="mobile-menu-button" (click)="toggleMenu()" aria-label="Меню">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <line x1="3" y1="12" x2="21" y2="12"></line>
              <line x1="3" y1="6" x2="21" y2="6"></line>
              <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

